<?xml version='1.0' encoding='utf-8'?>
<robot name="nero_inspire_right"><link name="world" />
    <joint name="world_to_base_link" type="fixed">
        <parent link="world" />
        <child link="base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
    <link name="base_link">
        <inertial>
            <origin xyz="-0.00963614954335565 0.00016786624100977 0.044860101664403" rpy="0 0 0" />
            <mass value="0.77" />
            <inertia ixx="0.0006669" ixy="0.0" ixz="0.0" iyy="0.00054501" iyz="0.0" izz="0.00051509" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="meshes/base_link.glb" />
            </geometry>
        <material name="nero_grey"><color rgba="0.75 0.75 0.78 1" /></material></visual>
        </link>
    <link name="link1">
        <inertial>
            <origin xyz="-0.00077 -0.00006 -0.00686" rpy="0 0 0" />
            <mass value="0.77" />
            <inertia ixx="0.0006669" ixy="0.0" ixz="0.0" iyy="0.00054501" iyz="0.0" izz="0.00051509" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="meshes/Link1.glb" />
            </geometry>
        <material name="nero_grey"><color rgba="0.75 0.75 0.78 1" /></material></visual>
        </link>
    <joint name="joint1" type="revolute">
        <origin xyz="0 0 0.138" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="link1" />
        <axis xyz="0 0 1" />
        <limit lower="-2.7" upper="2.7" effort="100" velocity="5" />
    </joint>
    <link name="link2">
        <inertial>
            <origin xyz="-0.00011 -0.06072 0.00148" rpy="0 0 0" />
            <mass value="0.49" />
            <inertia ixx="0.00053808" ixy="0.0" ixz="0.0" iyy="0.00029435" iyz="0.0" izz="0.00040266" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="meshes/Link2.glb" />
            </geometry>
        <material name="nero_grey"><color rgba="0.75 0.75 0.78 1" /></material></visual>
        </link>
    <joint name="joint2" type="revolute">
        <origin xyz="0 0 0" rpy="1.5708 3.1415 0" />
        <parent link="link1" />
        <child link="link2" />
        <axis xyz="0 0 1" />
        <limit lower="-1.74" upper="1.74" effort="100" velocity="5" />
    </joint>
    <link name="link3">
        <inertial>
            <origin xyz="0.00014 0.00211 -0.04853" rpy="0 0 0" />
            <mass value="0.67" />
            <inertia ixx="0.00342528" ixy="0.0" ixz="0.0" iyy="0.0033924" iyz="0.0" izz="0.00026169" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="meshes/Link3.glb" />
            </geometry>
        <material name="nero_grey"><color rgba="0.75 0.75 0.78 1" /></material></visual>
        </link>
    <joint name="joint3" type="revolute">
        <origin xyz="0 -0.31 0" rpy="-1.5708 0 3.1416" />
        <parent link="link2" />
        <child link="link3" />
        <axis xyz="0 0 1" />
        <limit lower="-2.75" upper="2.75" effort="100" velocity="5" />
    </joint>
    <link name="link4">
        <inertial>
            <origin xyz="-0.00013 -0.05482 0.00132" rpy="0 0 0" />
            <mass value="0.41" />
            <inertia ixx="0.00031331" ixy="0.0" ixz="0.0" iyy="0.00013204" iyz="0.0" izz="0.0002393" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="meshes/Link4.glb" />
            </geometry>
        <material name="nero_grey"><color rgba="0.75 0.75 0.78 1" /></material></visual>
        </link>
    <joint name="joint4" type="revolute">
        <origin xyz="0 0 0" rpy="-1.5708 0 3.1416" />
        <parent link="link3" />
        <child link="link4" />
        <axis xyz="0 0 1" />
        <limit lower="-1.01" upper="2.14" effort="100" velocity="5" />
    </joint>
    <link name="link5">
        <inertial>
            <origin xyz="0.00303 0.00617 -0.11778" rpy="0 0 0" />
            <mass value="0.56" />
            <inertia ixx="0.0008249" ixy="0.0" ixz="0.0" iyy="0.00078548" iyz="0.0" izz="0.00021015" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="meshes/Link5.glb" />
            </geometry>
        <material name="nero_grey"><color rgba="0.75 0.75 0.78 1" /></material></visual>
        </link>
    <joint name="joint5" type="revolute">
        <origin xyz="0 -0.27001 0" rpy="1.5708 -1.5708 0" />
        <parent link="link4" />
        <child link="link5" />
        <axis xyz="0 0 1" />
        <limit lower="-2.75" upper="2.75" effort="100" velocity="5" />
    </joint>
    <link name="link6">
        <inertial>
            <origin xyz="0.00014 -0.0027 -0.00025" rpy="0 0 0" />
            <mass value="0.31" />
            <inertia ixx="0.00008181" ixy="0.0" ixz="0.0" iyy="0.00007176" iyz="0.0" izz="0.00007906" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="meshes/Link6.glb" />
            </geometry>
        <material name="nero_grey"><color rgba="0.75 0.75 0.78 1" /></material></visual>
        </link>
    <joint name="joint6" type="revolute">
        <origin xyz="0 0 0" rpy="1.5708 -1.5708 0" />
        <parent link="link5" />
        <child link="link6" />
        <axis xyz="0 0 1" />
        <limit lower="-0.73" upper="0.95" effort="100" velocity="5" />
    </joint>
    <link name="link7">
        <inertial>
            <origin xyz="-0.00014000 -0.00010000 -0.00275000" rpy="0 0 0" />
            <mass value="0.000001" />
            <inertia ixx="1.1000000000000001e-07" ixy="0" ixz="0" iyy="1.1000000000000001e-07" iyz="0" izz="1.9999999999999999e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="meshes/Link7.glb" />
            </geometry>
        <material name="nero_grey"><color rgba="0.75 0.75 0.78 1" /></material></visual>
        </link>
    <joint name="joint7" type="revolute">
        <origin xyz="0 -0.0235 0" rpy="1.5708 0 0" />
        <parent link="link6" />
        <child link="link7" />
        <axis xyz="0 0 1" />
        <limit lower="-1.57" upper="1.57" effort="100" velocity="5" />
    </joint>
    <link name="link8">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="meshes/Link8.glb" />
        </geometry>
        <material name="">
            <color rgba="1 1 1 1" />
        </material>
        </visual>
        </link>
    <joint name="joint8" type="fixed">
        
        <origin xyz="0.031 0 -0.0235" rpy="-1.5708 0 -1.5708" />
        <parent link="link7" />
        <child link="link8" />
    </joint>
<link name="rh56df_adapter_flange"><inertial><origin xyz="-0.000001 -0.000333 -0.005038" rpy="0 0 0" /><mass value="0.0608" /><inertia ixx="9.092e-06" ixy="0" ixz="0" iyy="9.457e-06" iyz="-5.4e-08" izz="1.3210e-05" /></inertial><visual><origin xyz="0 0 0" rpy="0 0 0" /><geometry><mesh filename="meshes/rh56df_adapter_flange.glb" scale="0.001 0.001 0.001" /></geometry></visual></link><joint name="link8_to_flange" type="fixed"><parent link="link8" /><child link="rh56df_adapter_flange" /><origin xyz="0 0 0.016489" rpy="0 0 1.570796" /></joint><joint name="flange_to_hand" type="fixed"><parent link="rh56df_adapter_flange" /><child link="R_base_link" /><origin xyz="0.000042 0. 0.002158" rpy="0 0 1.570796" /></joint><link name="R_base_link">
    <inertial>
      <origin xyz="0.00252515168164585 -0.001960054926157 0.0660467739648412" rpy="0 0 0" />
      <mass value="0.38756" />
      <inertia ixx="0.00059831308" ixy="5.60829e-06" ixz="2.8701399999999997e-06" iyy="0.00050077156" iyz="3.4830999999999997e-06" izz="0.00018467082" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_base_link.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <link name="right_thumb_1">
    <inertial>
      <origin xyz="0.000853491366153925 0.00482216769884483 -0.00481999614705116" rpy="0 0 0" />
      <mass value="0.00483" />
      <inertia ixx="1.9502e-07" ixy="-3.536e-08" ixz="-3.1e-09" iyy="1.4336e-07" iyz="-7.9e-09" izz="1.6891e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_thumb_1.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_thumb_1_joint" type="revolute">
    <origin xyz="0.0169600000000007 0.020450000002209 0.0663500000000002" rpy="0 0 0" />
    <parent link="R_base_link" />
    <child link="right_thumb_1" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.246165" effort="50" velocity="1" />
  </joint>
  <link name="right_thumb_2">
    <inertial>
      <origin xyz="0.0194641293930403 0.0162980383727088 -0.00803857337744943" rpy="0 0 0" />
      <mass value="0.05759" />
      <inertia ixx="1.0666209999999999e-05" ixy="-4.413609999999999e-06" ixz="-5.150000000000001e-09" iyy="8.92353e-06" iyz="2.59e-09" izz="1.700133e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_thumb_2.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_thumb_2_joint" type="revolute">
    <origin xyz="0.0107353075101483 0.00900017625730479 -0.00649999999999998" rpy="1.57079632679489 0 1.30550628049177" />
    <parent link="right_thumb_1" />
    <child link="right_thumb_2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0.48" effort="50" velocity="1" />
  </joint>
  <link name="right_thumb_3">
    <inertial>
      <origin xyz="0.00946651884646355 0.00207630823866701 -0.00720000588824668" rpy="0 0 0" />
      <mass value="0.00985" />
      <inertia ixx="1.21069e-06" ixy="-1.0767e-07" ixz="-1.0000000000000001e-11" iyy="6.011799999999999e-07" iyz="-3e-11" izz="1.28966e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_thumb_3.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_thumb_3_joint" type="revolute">
    <origin xyz="0.0376167925538582 0.0414855421501229 -0.000800000000000356" rpy="0 0 0" />
    <parent link="right_thumb_2" />
    <child link="right_thumb_3" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0.3578" effort="50" velocity="1" />
      <mimic joint="right_thumb_2_joint" multiplier="1.1425" offset="0" />
  </joint>
  <link name="right_thumb_4">
    <inertial>
      <origin xyz="0.00604904909827651 0.00861522746372045 -0.00600329390500667" rpy="0 0 0" />
      <mass value="0.00552" />
      <inertia ixx="3.1668e-07" ixy="-4.536e-08" ixz="1.0000000000000001e-11" iyy="1.2999000000000001e-07" iyz="4e-10" izz="3.3747e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_thumb_4.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_thumb_4_joint" type="revolute">
    <origin xyz="0.0149571022375899 0.0170124132550165 -0.00120000000000001" rpy="0 0 0" />
    <parent link="right_thumb_3" />
    <child link="right_thumb_4" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0.2775" effort="50" velocity="1" />
      <mimic joint="right_thumb_3_joint" multiplier="0.7508" offset="0" />
  </joint>
  <link name="right_index_1">
    <inertial>
      <origin xyz="0.000852715296526529 0.0119735955318245 -0.00599986563267159" rpy="0 0 0" />
      <mass value="0.01229" />
      <inertia ixx="1.93998e-06" ixy="-1.5035e-07" ixz="-4.1e-10" iyy="5.6245e-07" iyz="-3.49e-09" izz="2.05872e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_index_1.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_index_1_joint" type="revolute">
    <origin xyz="-0.000285333323388565 0.0202750317161709 0.136945958498439" rpy="1.53588974175501 0 0" />
    <parent link="R_base_link" />
    <child link="right_index_1" />
    <axis xyz="0 -0.0697564737441209 -0.997564050259825" />
    <limit lower="0" upper="1.333" effort="50" velocity="1" />
  </joint>
  <link name="right_index_2">
    <inertial>
      <origin xyz="0.00408342999190195 0.0192600939391442 -0.00500000380847467" rpy="0 0 0" />
      <mass value="0.00633" />
      <inertia ixx="9.4327e-07" ixy="-3.8912e-07" ixz="-2.0000000000000002e-11" iyy="2.897e-07" iyz="-5e-11" izz="1.14024e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_index_2.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_index_2_joint" type="revolute">
    <origin xyz="0.0080992697963248 0.0310949249595195 -0.001" rpy="0 0 0" />
    <parent link="right_index_1" />
    <child link="right_index_2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.527" effort="50" velocity="1" />
      <mimic joint="right_index_1_joint" multiplier="1.1169" offset="0" />
  </joint>
  <link name="right_middle_1">
    <inertial>
      <origin xyz="0.000852855866232599 0.011973606798452 -0.00399984588006246" rpy="0 0 0" />
      <mass value="0.01229" />
      <inertia ixx="1.94e-06" ixy="-1.5036e-07" ixz="-9.899999999999999e-10" iyy="5.6248e-07" iyz="-5.01e-09" izz="2.05872e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_middle_1.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_middle_1_joint" type="revolute">
    <origin xyz="-0.000285333314556269 0.00295000000023597 0.137100000000016" rpy="1.5707963267792 0 0" />
    <parent link="R_base_link" />
    <child link="right_middle_1" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.333" effort="50" velocity="1" />
  </joint>
  <link name="right_middle_2">
    <inertial>
      <origin xyz="0.0047113458880482 0.0203465768773643 -0.00500003269708214" rpy="0 0 0" />
      <mass value="0.00681" />
      <inertia ixx="1.18348e-06" ixy="-5.0397e-07" ixz="-0.0" iyy="3.558e-07" iyz="-0.0" izz="1.43878e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_middle_2.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_middle_2_joint" type="revolute">
    <origin xyz="0.00809959893697584 0.0310948392266618 0.00100000000000044" rpy="0 0 0" />
    <parent link="right_middle_1" />
    <child link="right_middle_2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.527" effort="50" velocity="1" />
      <mimic joint="right_middle_1_joint" multiplier="1.1169" offset="0" />
  </joint>
  <link name="right_ring_1">
    <inertial>
      <origin xyz="0.00085245845917839 0.0119734648811593 -0.00599989251266642" rpy="0 0 0" />
      <mass value="0.01229" />
      <inertia ixx="1.93998e-06" ixy="-1.5033000000000002e-07" ixz="-5.1e-10" iyy="5.6244e-07" iyz="-3.52e-09" izz="2.05872e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_ring_1.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_ring_1_joint" type="revolute">
    <origin xyz="-0.000285333323395365 -0.0182707111726564 0.136282456905841" rpy="1.62315620435472 0 0" />
    <parent link="R_base_link" />
    <child link="right_ring_1" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.333" effort="50" velocity="1" />
  </joint>
  <link name="right_ring_2">
    <inertial>
      <origin xyz="0.00408287363348225 0.0192599767415159 -0.00499998343104271" rpy="0 0 0" />
      <mass value="0.00633" />
      <inertia ixx="9.4329e-07" ixy="-3.8762e-07" ixz="-3.394e-08" iyy="2.9614999999999996e-07" iyz="-7.389e-08" izz="1.13377e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_ring_2.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_ring_2_joint" type="revolute">
    <origin xyz="0.00809885846186154 0.0310950320965672 -0.001" rpy="0 0 0" />
    <parent link="right_ring_1" />
    <child link="right_ring_2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.527" effort="50" velocity="1" />
      <mimic joint="right_ring_1_joint" multiplier="1.1169" offset="0" />
  </joint>
  <link name="right_little_1">
    <inertial>
      <origin xyz="0.000851610973032574 0.0119735303202265 -0.00599989467442243" rpy="0 0 0" />
      <mass value="0.012289999999999999" />
      <inertia ixx="1.94e-06" ixy="-1.5023e-07" ixz="-3e-10" iyy="5.624199999999999e-07" iyz="-3.18e-09" izz="2.05872e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_little_1.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_little_1_joint" type="revolute">
    <origin xyz="-0.000285333323391146 -0.0374222941312603 0.134460099927073" rpy="1.67551608191454 0 0" />
    <parent link="R_base_link" />
    <child link="right_little_1" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.333" effort="50" velocity="1" />
  </joint>
  <link name="right_little_2">
    <inertial>
      <origin xyz="0.00273929963119374 0.0161600317264199 -0.00499667765900381" rpy="0 0 0" />
      <mass value="0.00525" />
      <inertia ixx="5.5787e-07" ixy="-2.175e-07" ixz="-0.0" iyy="1.8624e-07" iyz="-0.0" izz="6.690599999999999e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_little_2.glb" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="right_little_2_joint" type="revolute">
    <origin xyz="0.0080966 0.031096 -0.001" rpy="0 0 0" />
    <parent link="right_little_1" />
    <child link="right_little_2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.527" effort="50" velocity="1" />
      <mimic joint="right_little_1_joint" multiplier="1.1169" offset="0" />
  </joint>
</robot>